<!DOCTYPE html>
<html ng-app="customerApp">

    <header>
        <title>My 1rst AngularJS Page</title> 
    </header>
    
    <body ng-controller="customersController">
        <h3>Add new Customers</h3>
        <form class="simple-form">
            <fieldset>
                <legend>Information of Customer</legend>

                <label for="firstName">First Name :</label> 
                <input type="text" ng-model="cus.firstName"/> <br /><br />
                <label for="familyName">Family Name :</label>
                <input type="text" ng-model="cus.familyName"/> <br /><br />
                <label for="gender">Gender : </label>
                <input type="text" ng-model="cus.gender"/> <br /><br />
                <label for="age">Age : </label>
                <input type="text" ng-model="cus.age"/> <br /><br />

                <input type="reset" value="Annuler" /> &nbsp;&nbsp;
                <input type="submit" value="Valider" ng-click="addNewCustomer()"/>
            </fieldset>
        </form>

        <h3>List of Customers</h3>
        
        Filter: 
    
        <input type="text" ng-model="filterValue"/> &nbsp;&nbsp; Filtering with : {{ filterValue | uppercase }}
        <br />
 
        <div>
        <br />
            <table border="1" width="90%">
                <tr>
                    <th>N°</th>
                    <th>First name</th>
                    <th>Family name</th>
                    <th>Gender</th>
                    <th>Age</th>
                </tr>
                <tr ng-repeat="customer in listCustomers  | orderBy:'age' | filter:filterValue">
                    <td> {{ $index + 1}}</td>
                    <td> {{ customer.firstName }} </td>
                    <td> {{ customer.familyName }} </td>
                    <td> {{ customer.gender }} </td>
                    <td> {{ customer.age }} </td>
                </tr>
            </table>
            <br />
        </div>
        <script type="text/javascript" src="../../Scripts/angular.min.js"></script>
        <script type="text/javascript" src="../../Scripts/tools.js"></script>     
    </body>
</html>