<!DOCTYPE html>
<html ng-app>
    <header>
        <title>My 1rst AngularJS Page</title>
    </header>

    <body ng-init="listOffruits=['Pomme','Abricot','Banane','Orange']">
        
        <h3>Use Directives and Data Binding</h3>
        
        Name:
        <br />
        <input type="text" ng-model="name"/>   {{ name }}
        <br />
        <br />
        <ul>
            <li ng-repeat="fruit in listOffruits">{{ fruit }}</li>
        </ul>

        <script src="../../Scripts/angular.min.js"></script> 
    </body>
</html>