<!DOCTYPE html>
<html ng-app=>
    <header>
        <title>My 1rst AngularJS Page</title>
        
    </header>
    
    <body>
        <h3>Add new Customers</h3>
        <form>
            <fieldset>
                <legend>Information of Customer</legend>

                <label for="firstName">First Name :</label> 
                <input type="text" ng-model="firstName"/> <br /><br />
                <label for="familyName">Family Name :</label>
                <input type="text" ng-model="familyName"/> <br /><br />
                <label for="gender">Gender : </label>
                <input type="text" ng-model="gender"/> <br /><br />
                <label for="age">Age : </label>
                <input type="text" ng-model="age"/> <br /><br />

                <input type="reset" value="Annuler" /> &nbsp;&nbsp;
                <input type="button" value="Valider" ng-click="addNewCustomer()"/>
            </fieldset>
        </form>

        <h3>List of Customers</h3>
        
        Filter: 
    
        <input type="text" ng-model="filterValue"/> &nbsp;&nbsp; Filtering with : {{ filterValue }}
        <br />
 
        <div class="container" ng-init='customers=[
        {
            "firstName": "JOHANNA",
            "familyName": "VICENT",
            "gender": "F",
            "age": 50
        },
        {
            "firstName": "CECILIA",
            "familyName": "FRANK",
            "gender": "F",
            "age": 18
        },
        {
            "firstName": "BERNARD",
            "familyName": "COUTEAU",
            "gender": "M",
            "age": 60
        },
        {
            "firstName": "ALAIN",
            "familyName": "LE SAC",
            "gender": "M",
            "age": 34
        },
        {
            "firstName": "YVES",
            "familyName": "YDE JACQUES",
            "gender": "M",
            "age": 45
        },
        {
            "firstName": "LUCIE",
            "familyName": "CARTELLE",
            "gender": "F",
            "age": 49
        }
]'>
        <br />
            <table border="1" width="90%">
                <tr>
                    <th>N°</th>
                    <th>First name</th>
                    <th>Family name</th>
                    <th>Gender</th>
                    <th>Age</th>
                </tr>
                <tr ng-repeat="customer in customers  | orderBy:'age' | filter:filterValue">
                    <td> {{ $index + 1}}</td>
                    <td> {{ customer.firstName }} </td>
                    <td> {{ customer.familyName }} </td>
                    <td> {{ customer.gender }} </td>
                    <td> {{ customer.age }} </td>
                </tr>
            </table>
            <br />
            
            </ol>
        </div>
            

        <script src="../../Scripts/angular.min.js"></script>
        <script src="../../Scripts/tools.js"></script>
        
    </body>
</html>